{{#if logged_in}}
<h1>Welcome {{username}}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    Create Post
                </div>
                <div class="card-body">
                    <form class="post-form">
                        <div class="form-group">
                            <label for="post-title">Title</label>
                            <input type="form-input" class="form-control" id="post-title">
                        </div>
                        <div class="form-group">
                            <label for="post-desc">Content</label>
                            <textarea class="form-control" id="post-desc"></textarea>
                        </div>
                        <button type="submit" class="btn btn-light border border-dark">Create</button>
                    </form>
                </div>
            </div>
        </div>

        {{#each posts as |post|}}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            {{title}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{content}}</p>
                            <a href="/posts/{{id}}" class="btn btn-light border border-dark">Go to post</a>
                        </div>
                        <div class="card-footer"><small class="text-muted">Created
                                {{format_date date_created}} | <a href="#" class="update-post"
                                    data-id="{{id}}">Update</a> | <a href="#" class="delete-post"
                                    data-id="{{id}}">Delete</a></small></div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        {{else}}
        <a href="/login">You must login first to view this page</a>
        {{/if}}

        <script src="/js/dashboard.js"></script>
        <script src="/js/post.js"></script>